/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* El estilo empieza aqui */

body {
  background-image: url(https://w0.peakpx.com/wallpaper/320/744/HD-wallpaper-rick-and-morty-galaxy.jpg);
}


#header {
    height: 150px;
    /* background-image: url(https://github.com/Cris-Rocha/javascript-module-3/blob/main/Rick%20and%20Morty/images/image4.png?raw=true); */
    border: 1px solid rgb(199, 228, 133);
    
    justify-content: center;
}

#logo {
    height: 80px;
}
#content {
  margin: 1px solid rgb(143, 143, 10);
  display: flex;
  flex-direction: row;
}

#sidebar {
  order: 1;
  margin: 5px;
  padding: 7px;
  line-height: 30px;
  font-size: 18px;
  background-color: rgba(243, 201, 215, 0.329);
  height: 700px;
  width: 300px;
  border: 1px solid darkred;
  color: rgb(235, 226, 243);
}

#main {
  order: 2;
   margin: 5px;
  padding: 7px;
  background-color: #13466154;
  width: 700px;
  height: 700px;
  border: 1px solid greenyellow;
}
