#header {
    height: 50px;
    width: auto;
    background-color: aquamarine;

}
/* 
#sidebar-menu {  
    background-color: palevioletred;
    height: 150px;
    width: 100px;
    margin-top: 30px;

} */    